.bluebox{
    display: flex;
    position: relative;
    align-items: center;
    background-color: #0E1562;
    height: 80px;
  }
.whitebox{
    margin: 10%;
    width: 15%;
    margin-left: 40%;
    background-color: white;
    position: absolute;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: crimson;
    height: 50px;
    padding-bottom: 0.5rem;
    overflow: hidden;

}
.whitebox>h3{
    margin-top: 2%;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}
.whitebox>p{
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

.newspage{
    padding: 5%;
}
img{
    padding-top: 6%;
    width: 100%;
    height: 90%;
}
.continue{
    color: white;
    background-color: crimson;
}
.firstrow{
    display: flex;
    flex-direction: row;
}
.secondrow{
    display: flex;
    flex-direction: row;
}
.thirdrow{
    display: flex;
    flex-direction: row;
}
.fourthrow{
    display: flex;
    flex-direction: row;
}
.news1{
    float: right;
    padding-left: 10%;
}
.news2{
    float: right;
    padding-left: 10%;
}
.news3{
    float: right;
    padding-left: 10%;
}
.footbar{
    background-color: #0E1562;
    height: 6%;
}
html, body{
    margin: 0%;
    min-height: 100%;
}
@media screen and (max-width: 480px){
    .secondrow{
        display: flex;
        flex-direction: column;
    }
    .thirdrow{
        display: flex;
        flex-direction: column;
    }
    .fourthrow{
        display: flex;
        flex-direction: column;
    }
    .firstrow{
        display: flex;
        flex-direction: row;
    }
    .whitebox{
        width: 40%;
    }
}